# smartmontools indent style settings for EditorConfig
# https://editorconfig.org

# top-most file
root = true

[*]
indent_style = space
indent_size = 2
tab_width = 8

[Makefile*]
# Rule recipes require tab characters (spaces are used elsewhere)
indent_style = tab
indent_size = 8

# TODO: Fix files with other indent styles
[/lib/scsiata.cpp]
# indent_size = 2 and 4

[/lib/scsicmds.*]
indent_size = 4

[/src/scsiprint.cpp]
indent_size = 4

# Keep indent style of imported files as is
[/lib/*_nvme_ioctl.h]
indent_style = tab
indent_size = 8

[/lib/csmisas.h]
indent_size = 3

[/src/getopt/getopt.*]
indent_style = tab
indent_size = 2

[/include/smartmon/regex/regex.h]
indent_style = tab
indent_size = 2

[/lib/regex/reg*.*]
indent_style = tab
indent_size = 2
