/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build*/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure~
/depcomp
/install-sh
/smartmontools-*.tar.*
/m4/
/missing
/src/*.o
/src/.deps/
/src/Makefile
/src/Makefile.in
/src/config.h
/src/config.log
/src/config.h.in
/src/config.h.in~
/src/stamp-h1
/src/smartctl
/src/smartctl.8
/src/smartctl.exe
/src/smartd
/src/smartd.8
/src/smartd.conf.5
/src/smartd.exe
/src/smartd_warning.sh
/src/svnversion.h
/src/update-smart-drivedb
/src/update-smart-drivedb.8
