<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
 <title>smartmontools Home Page (last updated $Date$)</title>
 <link rev="made" href="mailto:smartmontools-support&#64;sourceforge.net" />
 <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=ISO-8859-1" />
 <meta name="description" content="smartmontools Home Page" />
 <meta name="keywords" content="S.M.A.R.T., SMART, FreeBSD, Linux, NetBSD, Solaris, Windows, disk, monitor, monitoring" />
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="content-style-type" content="text/css" />
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<!--  <link type="text/css" rel="stylesheet" href="templates/standard/search.css"> -->
  <!-- suggest script -->
	<style type="text/css">@import url("include/js_suggest/SuggestFramework.css");</style>
	<script type="text/javascript" src="include/js_suggest/SuggestFramework.js"></script>
	<script type="text/javascript">window.onload = initializeSuggestFramework;</script>
  <!-- /suggest script -->
</head>
<body>
<!-- $Id$ -->
<div id="header">
    <h1><a id="logo" href="http://smartmontools.sourceforge.net/"><img src="../smart_logo.gif" width="105" height="59" border="0" hspace="20" align="middle" name="smartmontools_Logo" alt="S.M.A.R.T. Logo" /></a>
    smartmontools Home Page</h1>
</div>

<div id="mainmenu" class="nav">
    <ul>
        <li class="first"><a accesskey="n" href="../index.html">Home</a></li>
        <li><a href="http://sourceforge.net/apps/trac/smartmontools/wiki/TocDoc">Documentation</a></li>
        <li><a accesskey="d" href="http://sourceforge.net/apps/trac/smartmontools/wiki/Download">Download</a></li>
        <li><a accesskey="f" href="../faq.html">FAQ</a></li>
        <li><a accesskey="h" href="http://sourceforge.net/apps/trac/smartmontools/wiki/Help">Help</a></li>
        <li><a accesskey="a" href="http://sourceforge.net/apps/trac/smartmontools/wiki/Team">About</a></li>
        <li><a accesskey="l" href="http://sourceforge.net/apps/trac/smartmontools/wiki/Links">Links</a></li>
        <li class="active last"><a accesskey="s" href="search.php">Search</a></li>
    </ul>
</div>

