name: Check drive database branches 7.0-7.5

# Due to githubusercontent.com rate limiting, this workflow may fail with:
#   curl: (22) The requested URL returned error: 429
on: workflow_dispatch

# Problems with updates from svn are only reported as annotations.  Downloads
# shortly after a svn commit may return the previous file release due to
# content caching.

jobs:
  drivedb-check-7_X:
    strategy:
      matrix:
        version: [ "7_0", "7_1", "7_2" , "7_3" , "7_4" , "7_5" ]

    runs-on: ubuntu-latest

    steps:
      - name: Run actions/checkout@v4 svn/tags/RELEASE_${{ matrix.version }}
        uses: actions/checkout@v4
        with:
          ref: svn/tags/RELEASE_${{ matrix.version }}

      - name: Build
        run: |
          cd smartmontools && ./autogen.sh &&
          mkdir build && cd build && ../configure &&
          make -j V=0 && ./smartctl -V && make check

      - name: Run update-smart-drivedb -u github
        run: |
          cd smartmontools &&
          build/update-smart-drivedb -v -s build/smartctl -u github drivedb.h

      - name: Rebuild
        run: |
          cd smartmontools/build && make -j V=0 && make check

      - name: Run update-smart-drivedb -u svn
        run: |
          cd smartmontools &&
          build/update-smart-drivedb -v -s build/smartctl -u svn drivedb-svn.h ||
          echo "::error:: Download from svn failed"

      - name: Compare
        run: |
          cd smartmontools
          test -f drivedb-svn.h || exit 0
          diff -s -U0 drivedb.h drivedb-svn.h ||
          echo "::warning:: Download from svn differs"

  drivedb-check-main:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: |
          ./autogen.sh &&
          mkdir build && cd build && ../configure &&
          make -j V=0 && make check

      - name: Run update-smart-drivedb -u github
        run: |
          build/src/update-smart-drivedb -v -s build/src/smartctl -u github lib/drivedb.h

      - name: Rebuild
        run: |
          cd build && make -j V=0 && make check

      - name: Run update-smart-drivedb -u svn
        run: |
          build/src/update-smart-drivedb -v -s build/src/smartctl -u svn lib/drivedb-svn.h ||
          echo "::error:: Download from svn failed"

      - name: Compare
        run: |
          cd lib
          test -f drivedb-svn.h || exit 0
          diff -s -U0 drivedb.h drivedb-svn.h ||
          echo "::warning:: Download from svn differs"
