name: Build smartmontools with MSVC17

on:
  workflow_dispatch:
    inputs:
      platforms:
        description: "Platforms: x64 Win32 ARM64"
        required: false
        default: 'x64'
      configs:
        description: "Configurations: Debug Debug-static Release Release-static"
        required: false
        default: 'Debug-static Release-static'
      check-options:
        description: "'smartctl' options for a quick check"
        required: false
        default: '--scan'

jobs:
  configure-src:
    runs-on: ubuntu-latest

    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}

    steps:
      - name: Define matrix
        id: matrix
        run: |
          matrix=$(
            printf '{"platform":['
            d=
            for x in ${{ github.event.inputs.platforms }}; do
              case $x in x64|Win32|ARM64)
                printf '%s"%s"' "$d" "$x"; d=',' ;;
              esac
            done
            printf '],"config":['
            d=
            for x in ${{ github.event.inputs.configs }}; do
              case $x in Debug|Debug-static|Release|Release-static)
                printf '%s"%s"' "$d" "$x"; d=',' ;;
              esac
            done
            printf ']}'
          )
          echo "matrix=$matrix"
          echo "matrix=$matrix" >> "$GITHUB_OUTPUT"

      - run: sudo apt-get update && sudo apt-get install -y g++-mingw-w64-x86-64

      - uses: actions/checkout@v4
        with:
          # Provide at least the commit log since last release for 'getversion.sh'.
          # 'git clone --shallow-since=2025-04-29' would be sufficient but this is
          # not supported by 'actions/checkout@v4'.
          fetch-depth: 800
          # Include (future) release tags for 'getversion.sh'
          fetch-tags: true

      - name: Configure source
        run: |
          ./autogen.sh && mkdir build && cd build &&
          ../configure --build=$(../config.guess) --host=x86_64-w64-mingw32 &&
          make config-vc && make distdir && mv smartmontools-*.* smartmontools &&
          cp -av ../src/os_win32/vc17 smartmontools/src/os_win32

      - uses: actions/upload-artifact@v4
        with:
          name: smartmontools-msvc17-src
          path: build/smartmontools/
          retention-days: 30

  build:
    needs: configure-src
    strategy:
      matrix: ${{ fromJSON(needs.configure-src.outputs.matrix) }}

    runs-on: ${{ fromJSON('["windows-latest", "windows-11-arm"]')[matrix.platform == 'ARM64'] }}

    steps:
      - uses: microsoft/setup-msbuild@v2

      - uses: actions/download-artifact@v4
        with:
          name: smartmontools-msvc17-src

      - run: |
          MSBuild /m /p:Platform=${{matrix.platform}} /p:Configuration=${{matrix.config}} src/os_win32/vc17/smartmontools.sln

      - run: |
          src/os_win32/vc17/${{matrix.platform}}/${{matrix.config}}/smartctl -V

      - run: |
          src/os_win32/vc17/${{matrix.platform}}/${{matrix.config}}/smartctl ${{ github.event.inputs.check-options }}

      - uses: actions/upload-artifact@v4
        with:
          name: smartmontools-msvc17-${{matrix.platform}}-${{matrix.config}}-bin
          path: |
            src/os_win32/vc17/${{matrix.platform}}/${{matrix.config}}/*.exe
            src/os_win32/vc17/${{matrix.platform}}/${{matrix.config}}/*.lib
          compression-level: 9
          retention-days: 30

      - uses: actions/upload-artifact@v4
        with:
          name: smartmontools-msvc17-${{matrix.platform}}-${{matrix.config}}-pdb
          path: src/os_win32/vc17/${{matrix.platform}}/${{matrix.config}}/*.pdb
          compression-level: 9
          retention-days: 30
